[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
statsmodels = "*"
makefile-help = "*"
pandas = "*"
xlrd = "*"
plotly = "*"
ipywidgets = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.7"
